body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  height: 80px;
  background-color: #e02f37;
  position: relative;
}
header p {
  color: white;
  position: absolute;
  padding-top: 15px;
  padding-left: 420px;
  font-weight: bold;
}

#navlist {
  position: absolute;
  width: 100%;
}

/* styling navlist anchor element */
#navlist a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.navlist-right {
  float: right;
}
.navlist-right a {
  padding-right: 40px;
}
.active {
  margin-right: 0px;
  margin-left: 20px;
}
.container {
  display: grid;
  grid-template-columns: 60% 40%;
}
.box1 {
  width: 60%;
  margin-left: 100px;
  margin-top: 150px;
}
button {
  color: white;
  background-color: #e02f37;
  padding: 20px;
  border-radius: 25px;
  width: 25%;
  border: none;
}
.box2 {
  display: flex;
  width: 100%;
}
.box2 p {
  font-weight: bold;
  margin-right: 20px;
  margin-left: 25px;
  padding-bottom: 2px;
  border-bottom: 2px solid #e02f37;
}
.box3 {
  width: 40%;
  float: right;
  top: 200px;
  margin-right: 20px;
}
img {
  width: 500px;
  height: 300px;
  margin-top: 200px;
  border-radius: 20px;
  padding-top: 20px;
  border-top: 2px solid #e02f37;
  padding-right: 20px;
  border-right: 2px solid #e02f37;
}
#list li {
  list-style-type: none;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 15px;
}
#list ul {
  display: flex;
  margin-top: 60px;
  color: gray;
}
#lastsection {
  display: grid;
  grid-template-columns: 20% 60%;
  margin-left: 100px;
}
.box_2 {
  margin-left: 400px;
  padding-top: 20px;
  font-size: 18px;
  line-height: 25px;
}
